* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(imagep/bbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 6%;
  
}
.logo {
  color: aqua;
  width: 100px;
  cursor: pointer;
}
.nav-links li {
  list-style: none;
  display: inline-block;
  margin: 10px 30px;
  padding: 1.5rem 1rem;
  position: relative;
  font-size: 1rem;


}
.nav-links li a {
  text-decoration: none;
  color: #fff;
}
/* nav color change */
.nav-links :hover{
  background-color: #ff5361;
  
  }

.register-btn {
  background-color: #ffffff ;
  color: #000;
  padding: 8px 20px;
  text-decoration: none;
  border-radius: 20px;
  font-size: 14px;
}
.container {
  padding: 0 7%;
}
.header h1 {
  font-size: 4vw;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding-top: 22%;
}
.search-bar {
  background-color: #ffffff;
  width: 70%;
  margin: 30px auto;
  padding: 6px 10px 6px 30px;
  border-radius: 50px;
}
.search-bar form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.search-bar form input {
  display: block;
  border: 0;
  outline: none;
  background: transparent;
}
.search-bar form button {
  background: #ff5361;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-left: 250px;
}
.location-input {
  flex: 1;
}

/* exclusives */

.sub-title {
  margin: 50px 0 20px;
  font-size: 2.2vw;
  font-weight: 500;
  color: #333;
}
.exclusives {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
}
.exclusives div img {
  width: 100%;
  border-radius: 10px;
}
.exclusives div {
  position: relative;
}
.exclusives div span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
/* trending */
.trending {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  margin-bottom: 30px;
}
.trending div img {
  width: 100%;
  border-radius: 10px;
}
x .trending h3 {
  font-weight: 600;
  margin-top: 10px;
}
/* CALL TO ACTION */
.cta {
  margin: 80px 0;
  background-image: linear-gradient(to right, #3f2321, transparent),
    url(imagep/bbg.jpg);
  background-size: cover;
  background-position: center;
  border: 10px;
  padding: 5%;
  color: #fff;
  border-radius: 10px;
}
.cta h3 {
  font-size: 4vw;
  line-height: 5.3vw;
  font-weight: 500;
}
.cta p {
  font-size: 18px;
  margin: 10px 0;
}
.cta-btn {
  background: #ff5361;
  color: #fff;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 8px;
  margin-top: 20px;
  display: inline-block;
}
/* travel stories */

.stories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  margin-bottom: 30px;
}
.stories div img {
  width: 100%;
  border-radius: 10px;
}
.stories div {
  position: relative;
  text-align: center;
}
.stories p {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 26px;
}
.start-btn {
  text-decoration: none;
  background: #ff5361;
  color: #fff;
  width: 80%;
  max-width: 350px;
  display: block;
  text-align: center;
  margin: 60px auto;
  padding: 15px;
  border-radius: 30px;
  font-size: 20px;
}
/* about-msg */
.about-msg {
  text-align: center;
  margin: 80px 0;
  color: #e9e9e9;
  font-size: 17px;
}
.about-msg h2 {
  font-size: 28px;
  padding-top: 80px;
  margin-bottom: 30px;
  font-weight: 500;
}
.about-msg p{
  justify-content: space-evenly;
}

/* footer */
.footer {
  margin: 80px 0 10px;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: #999;
  font-size: 22p px;
  margin: 0 10px;
}
.footer hr {
  background: #999;
  height: 1px;
  width: 100%;
  border: 0;
  margin: 20px 0;
}
.footer p {
  padding-bottom: 15px;
}
.active {
  position: relative;
}
.active::after {
  content: "";
  background: #fff;
  width: 0px;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 1px;
  border-radius: 2px;
}
nav.fa-bars {
  display: none;
}
#contact {
  background: #ff5361;
}
.main {
  display: flex;
  flex-wrap: wrap;
}
.footer {
  padding: 20px 0;
}
.list {
  width: 25%;
}
.list h4 {
  font-size: 21px;
  color: #ff5361;
  margin-bottom: 30px;
  position: relative;
}
.list h4::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  left: 0;
  bottom: -10px;
  background: #ff5361;
}
.list ul li:not(:last-child) {
  margin-bottom: 16px;
}
.list ul li a {
  color: #ffffff;
  font-size: #ff5361;
  display: block;
  transition: 0.3s;
}
.list ul li a:hover {
  color: #ff5361;
  transform: translateX(10px);
}
.social a {
  height: 40px;
  width: 40px;
  background: #ffffff;
  color: #ff5361;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  border-radius: 15px;
  transition: 0.3s;
  margin-right: 10px;
}
.list a:hover {
  transform: scale(1.25);
}
.end-text {
  text-align: center;
  padding-top: 90 px;
}
.end-text p {
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 2px;
  padding-bottom: 50px;
}
/* * for small screen  */

@media only screen and (max-width: 700px) {
  .logo {
    position: fixed;
    top: 4%;
    left: 7%;
  }
  .nav {
    position: fixed;
    top: 0;
    z-index: 100;
    display: inline-block;
    width: 100%;
    padding: 100px 7% 0;
    background: #000;
    text-align: right;
    max-height: 100px;
    overflow: hidden;
    transition: max-hight n0.5s;
  }
  nav .nav-links li {
    margin: 10px 0;
    display: block;
  }
  .register-btn {
    margin: 15px 0 30px;
    display: inline-block;
  }
  nav.fa-bars {
    display: block;
    position: fixed;
    top: 4%;
    right: 7%;
    color: #fff;
    font-size: 28px;
  }
  .active::after {
    left: -40px;
    transform: translate(0, 50%);
    bottom: 50%;
  }
  .hidenmenu {
    max-height: 200px;
  }
  .header h1 {
    padding-top: 200px;
    font-size: 7vw;
  }
  .search-bar {
    width: 90%;
    margin: 30px auto;
    padding: 20px 10px 30px;
    border-radius: 5px;
    position: relative;
  }
  .search-bar form {
    display: block;
  }
  .search-bar form input {
    border-bottom: 1px solid #ddd;
    width: 10%;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .search-bar form button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sub-title {
    font-size: 6vw;
  }
  .cta {
    padding: 15% 5%;
  }
  .cta h3 {
    font-size: 7vw;
    line-height: 8vw;
  }
  .cta p {
    font-size: 14px;
  }
  .cta-btn {
    padding: 6px 15px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 14px;
  }
  .stories p {
    font-size: 22px;
  }
  .about-msg {
    font-size: 15px;

  }
}
/*----------2index.html-------*/
.navbar-white {
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.navbar-white .nav-links li a {
  color: #000;
}
.navbar-white .register-btn {
  background: #ff5361;
  color: #fff;
}
nav.navbar-white .fa-bars {
  color: #000;
}
.navbar-white .active::after {
  background: #ff5361;
}
.list-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.left-col {
  flex-basis: 70%;
}
.right-col {
  flex-basis: 25%;
}

.left-col h1 {
  color: #333;
  font-weight: 600;
  margin-bottom: 30px;
}
.house {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0;
  border-top: 1px solid #ccc;
}
.house-img {
  flex-basis: 40%;
}
.house-info {
  flex-basis: 58%;
  color: #555;
}
.house-img {
  width: 100%;
  border-radius: 12px;
}

.house-info h3 {
  font-weight: 600;
  color: #333;
  font-size: 22px;
  margin: 4px 0;
}
.house-info i {
  color: #ff5361;
  font-size: 18px;
  margin: 10px 1px;
}
.house-price {
  text-align: right;
}
.house-price h4 {
  font-size: 20px;
}
.house-price h4 span {
  font-size: 16px;
  font-weight: 500;
}
.sidebar {
  border: 1px soild #999;
  padding: 20px 30px;
  margin-top: 30px;
  ;
}
.sidebar h2 {
  font-weight: 500;
}
.sidebar h3 {
  font-weight: 500;
  margin: 20px 0 10px;
}
.filter {
  display: flex;
  align-items: center;
  color: #555;
  margin-bottom: 10px;
}
.filter p {
  flex: 1;
}
.filter input {
  margin-right: 15px;
  cursor: pointer;
}

.sidebar-link {
  text-align: right;
  margin: 20px 0;
}

.sidebar-link a {
  text-decoration: none;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.pagination img {
  width: 15px;
  margin: 10px 20px;
}
.right-arrow {
  transform: rotate(180deg);
}
.pagination span {
  margin: 10px 8px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.pagination .current {
  background: #333;
  color: #fff;
}
/* smallscreen */
@media only screen and (max-width) {
  .list-container {
    margin-top: 150px;
  }
  .left-col,
  .right-col,
  .house-img,
  .house-info {
    flex-basis: 100%;
  }
  .left-col h1 {
    font-size: 22px;
  }
  .house-info h3 {
    font-size: 18px;
  }
  .house-info i {
    font-size: 16px;
  }
  .pagination span {
    margin: 10px 2px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }
}

/* house-details  index3*/
.house-details {
  padding: 0 12%;
}
.house-title {
  margin-top: 50px;
}

.house-title h1 {
  font-weight: 600;
}
.house-title .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0;
}
.house-title span {
  margin: 0 20px;
}
.house-title i {
  color: #ff5361;
  font-size: 14px;
}
.gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "first first . ." "first first . .";
  margin: 20px 0;
}
.gallery div img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
.galleryimg1 {
  grid-area: first;
}
.small-details h2 {
  font-weight: 500;
}
.small-details h4 {
  text-align: right;
  font-size: 22px;
}
.line {
  border: 0;
  height: 1px;
  background: #ccc;
  width: 100%;
  max-width: 800px;
  margin: 20px 0 50px;
}
.check-form {
  margin: 30px 0;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 50px;
}
.check-form label {
  display: block;
}
.check-form div {
  padding: 20px;
}
.check-form input {
  background: transparent;
  border: 0;
  outline: none;
}
.check-form button {
  background: #ff5361;
  border: 0;
  outline: none;
  color: #fff;
  padding: 18px;
  width: 350px;
  border-radius: 8px;
  font-size: 16px;
}
.guest-field {
  flex: 1;
}
.details-list {
  list-style: none;
  margin: 50px 0;
}
.details-list li {
  margin-left: 50px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #555;
  position: relative;
}
.details-list li span {
  display: block;
  font-weight: 400;
  font-size: 16px;
}
.details-list li i {
  position: absolute;
  top: 5px;
  left: -40px;
}
.home-desc {
  max-width: 700px;
  margin-bottom: 50px;
}
.map {
  margin: 50px 0;
}
.map iframe {
  width: 100%;
  margin-bottom: 30px;
}
.map h3 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 30px;
}
.mao b {
  display: block;
  margin-bottom: 16px;
}
.host {
  display: flex;
  align-items: center;
}
.host img {
  width: 80px;
  border-radius: 50%;
  margin-right: 30px;
}
.host h2 {
  margin-bottom: 10px;
  font-weight: 500;
}
.host i {
  color: #ff5361;
}
.contact-host {
  display: inline-block;
  margin: 40px 0 40 120px;
  text-decoration: none;
  color: #555;
  padding: 15px 50px;
  border: 1px solid #ff5361;
  border-radius: 8px;
  margin-top: 25px;
  margin-left: 114px;
}
/* media query for house details page */
@media only screen and(max-width:700px) {
  .house-details {
    margin-top: 150px;
  }
  .row p {
    margin-top: 10px;
  }
  .gallery {
    grid-template-areas: "first first" ". ." ". .";
  }
  .small-details h2 {
    font-size: 20px;
    margin-top: 24px;
  }
  .small-details h4 {
    text-align: left;
    margin: 10px 0;
    font-size: 18px;
  }
  .check-form {
    padding: 10px 30px;
  }
  .check-form div {
    padding: 20px 0;
    width: 100%;
  }
  .check-form input {
    border-bottom: 1px soild #ccc;
    width: 100%;
    padding-bottom: 5px;
  }
  .check-form button {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
  }
  .host {
    display: block;
    line-height: 28px;
  }
  .contact-host {
    margin: 40px 0;
  }
}

/* zoom on hover effect */
.zoom {
  /* padding: 50px; */
  transition: transform .3s; /* Animation */
  /* width: 200px; */
  /* height: 200px; */
  /* margin: 0 auto; */
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/* pppcge .html */
.pta {
  margin: 80px 0;
  background-image: linear-gradient(to right, #3f2321, transparent),
    url(imagep/666r.jpg);
  background-size: cover;
  background-position: center;
  border: 10px;
  padding: 5%;
  color: #fff;
  border-radius: 10px;
}
.pta-btn {
  background: #ff5361;
  color: #fff;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 8px;
  margin-top: 20px;
  display: inline-block;
}
.header1 {
  min-height: 70vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(imagep/222.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: center;
}
.header1 h1 {
  font-size: 4vw;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding-top: 22%;
}
.sta {
  margin: 80px 0;
  background-image: linear-gradient(to right, #3f2321, transparent), url(imagep/666r.jpg);
  background-size: cover;
  /* background-position: center; */
  border: 10px;
  padding: 5%;
  color: #fff;
  border-radius: 10px;
  width: 850px;
  height: 200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
user agent stylesheet
div {
  display: block;
}

.trending2 .box{
  display:flex;
  flex-wrap: wrap;
  gap: 2rm;
}
.trending2 .box.box{
  flex: 11 30rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.05);

}
.trending2 .box.box img{
  height: 25rem; 
  width: 100%;
  object-fit: cover;
}
.stars{
  color:#ff5361;
}
.i{
  color: #ff5361;
}
/* packge type */
.start-btn1{
  text-decoration: none;
  background: #ff5361;
  color: #fff;
  width: 750%;
  max-width:500px;
  display: table;
  text-align: center;
  margin: 60px auto;
  padding: 15px;
  border-radius: 30px;
  font-size: 20px;
}

.start-btn3{

text-decoration: none;
  background: #ff5361;
  color: #fff;
  width: 650%;
  max-width:350px;
  display: table;
  text-align: center;
  margin: 70px auto;
  padding: 15px;
  border-radius: 30px;
  font-size: 20px
}
/* pcakge type re make */
.pta2 {
  margin: 80px 0;
  background-image: linear-gradient(to right, #3f2321, transparent), url(imagep2/155.webp);
  background-size: cover;
  background-position: center;
  border: 10px;
  padding: 5%;
  color: #fff;
  border-radius: 10px;
}
/* reamake packge type */
.header3 {
  min-height: 70vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(imagep4/type.webp);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: center;
}



/* small screen */
/* @media only screen and(max-width:700px) { */















/* } */
/* .house1r{
  width: 900px;
} */
.header1rr{
  min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(foodimp/food13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: center;

}
.header1rr{
  font-size: 4vw;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 22%;
    
}
.check-form2 {
  
  box-shadow: 0 0 20px rgb(0 0 2 / 80%);
 border-radius: 50%;
}